.status-grid {
    display: grid;
    max-width: 90dvw;
    grid-auto-flow: column;
    grid-auto-columns: minmax(300px, 1fr);
    column-gap: 2em;
    row-gap: 0.5em;
    align-self: center;
    margin-top: 3em;
}

.status-title {
    margin-top: 40px;
    font-size: 6em;
    margin-bottom: 30px;
    text-align: center;
}

.status-name {
    font-size: 2em;
}

.status-item {
    font-size: 3em;

    .status-icon {
        font-size: 0.6em;
        margin-right: 1em;
    }
}

.status-wrapper {
    margin-bottom: 2em;
    padding-inline: 3em;
    display: flex;
    flex-direction: column;
}



/* Landscape mobile styles */
@media screen and (orientation: landscape) and (max-height: 950px) {
    .status-wrapper {
        font-size: 14px;
    }

    .status-title {
        margin-top: 3px;
        margin-bottom: 3px;
    }
}

/* Mobile styles */
@media screen and (max-width: 768px) and (orientation: portrait) {
    .status-wrapper {
        font-size: 6px;

        .status-grid {
            display: flex;
            flex-direction: column;
            overflow: scroll;
            max-height: 60vh;
        }
    }

    .status-title {
        margin-top: 3px;
        margin-bottom: 3px;
    }
}

/* Landscape mobile styles */
@media screen and (orientation: landscape) and (max-height: 768px) {
    .status-wrapper {
        font-size: 10px;
    }

    .status-title {
        margin-top: 3px;
        margin-bottom: 3px;
    }
}

@media screen and (orientation: landscape) and (max-height: 500px) {
    .status-wrapper {
        font-size: 6px;
    }

    .status-title {
        margin-top: 3px;
        margin-bottom: 3px;
    }
}

/* mobile preview styles */
@media screen and (max-height: 300px) {
    .status-wrapper {
        font-size: 3px;
    }

    .status-title {
        margin-top: 3px;
        margin-bottom: 3px;
    }
}

/* Landscape mobile styles */
@media screen and (orientation: landscape) and (min-width: 2500px) {
    .status-wrapper {
        font-size: 17px;
    }

    .status-title {
        margin-top: 3px;
        margin-bottom: 3px;
    }
}