:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 400;

    color: #000000;
    background-color: #ffffff;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    --bs-progress-height: 50px;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}
a:hover {
    color: #747bff;
}

body {
    margin: 0;
    background-color: #ffffff;
    color: #000000;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #f9f9f9;
    cursor: pointer;
    transition: border-color 0.25s;
}
button:hover {
    border-color: #646cff;
}
button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

@keyframes slide-in-right {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slide-out-left {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.page-transition-enter {
    animation: slide-in-right 1s ease-out forwards;
}

.page-transition-exit {
    animation: slide-out-left 1s ease-in forwards;
}

/* Ensure only one element is visible at a time */
.page-wrapper:not(.page-transition-enter):not(.page-transition-exit) {
    display: none;
}

.progress {
    --bs-progress-bar-bg: #f4c242;
    width: 85vw;
    height: 50px;
    border-radius: 3rem;
}

.progress-div {
    display: flex;
    margin-bottom: 150px;
    align-items: center;
}

.progress-title {
    font-size: 4em;
    margin-bottom: 30px;
}

.progress-name {
    font-size: 3em;
}

.progress-value {
    margin-left: 1em;
    font-size: 2.8em;
    line-height: 1;
}

.progress-numbers {
    font-size: 10em;
}

.donation-sum {
    font-size: 18em;
}

.donation-title {
    font-size: 4em;
}

.admin-div {
    flex-direction: row-reverse;
}

.frame-div {
    width: 75vw;
    height: 100vh;
    position: sticky;
    top: 0;
    aspect-Ratio: 16 / 9;

    iframe {
        max-height: 768px;
    }
}

/* Mobile styles */
@media screen and (max-width: 768px) {
    .page-wrapper {
        min-height: auto;
        padding-bottom: 2rem;
    }

    .progress {
        height: 20px;
        width: 70vw;
    }

    .progress-value {
        margin-left: 1em;
        font-size: 2em;
        line-height: 1;
    }

    .progress-div {
        margin-bottom: 80px;
    }

    img {
        max-width: 92vw;
        height: auto;
    }

    .progress-title {
        font-size: 2em;
        margin-bottom: 20px;
    }

    .progress-name {
        font-size: 1.5em;
    }

    .progress-numbers {
        font-size: 4em;
    }

    .donation-sum {
        font-size: 6em;
    }

    .donation-title {
        font-size: 2em;
    }

    .admin-div {
        display: flex;
        flex-direction: column;
    }

    .frame-div {
        width: 100%;
        height: auto;
        position: sticky;
        top: 0;
    }
}

/* Small mobile devices */
@media screen and (max-width: 480px) {
    .progress-div {
        margin-bottom: 60px;
    }

    .progress-value {
        margin-left: 1em;
        font-size: 1em;
        line-height: 1;
    }

    .progress-numbers {
        font-size: 3em;
    }

    .donation-sum {
        font-size: 4.5em;
    }

    .donation-title {
        font-size: 2em;
    }
}

/* Landscape mobile styles */
@media screen and (orientation: landscape) and (max-height: 768px) {
    img {
        max-width: 40vw;
        height: auto;
    }

    .progress {
        height: 30px;
    }

    .progress-value {
        margin-left: 1em;
        font-size: 1.2em;
        line-height: 1;
    }

    .progress-div {
        margin-bottom: 40px;
    }

    .progress-title {
        font-size: 2em;
        margin-bottom: 20px;
    }

    .progress-name {
        font-size: 1.5em;
    }

    .progress-numbers {
        font-size: 4em;
    }

    .donation-sum {
        font-size: 7em;
    }

    .donation-title {
        font-size: 3em;
    }
}

/* Landscape mobile styles */
@media screen and (max-height: 300px) {
    img {
        max-width: 40vw;
        height: auto;
    }

    .progress {
        height: 1em;
    }

    .progress-value {
        margin-left: 1em;
        font-size: 0.7em;
        line-height: 1;
    }

    .progress-div {
        margin-bottom: 40px;
    }

    .progress-title {
        font-size: 1em;
        margin-bottom: 20px;
    }

    .progress-name {
        font-size: 1em;
    }

    .progress-numbers {
        font-size: 1em;
    }

    .donation-sum {
        font-size: 2em;
    }

    .donation-title {
        font-size: 1em;
    }
}