:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 400;

    color: #000000;
    background-color: #ffffff;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    --bs-progress-height: 50px;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}
a:hover {
    color: #747bff;
}

body {
    margin: 0;
    background-color: #ffffff;
    color: #000000;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #f9f9f9;
    cursor: pointer;
    transition: border-color 0.25s;
}
button:hover {
    border-color: #646cff;
}
button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

@keyframes slide-in-right {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slide-out-left {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.page-transition-enter {
    animation: slide-in-right 1s ease-out forwards;
}

.page-transition-exit {
    animation: slide-out-left 1s ease-in forwards;
}

/* Ensure only one element is visible at a time */
.page-wrapper:not(.page-transition-enter):not(.page-transition-exit) {
    display: none;
}

.admin-div {
    flex-direction: row-reverse;
}

.frame-div {
    width: 75vw;
    height: 100svh;
    position: sticky;
    top: 0;
    aspect-Ratio: 16 / 9;

    iframe {
        max-height: 768px;
        width: 100%;
    }
}

img {
    max-height: 20vh;
    position: absolute;
    bottom: 15px;
    right: 15px;
}

/* Mobile styles */
@media screen and (max-width: 768px) and (orientation: portrait) {
    .page-wrapper {
        min-height: auto;
        padding-bottom: 2rem;
    }

    img {
        max-width: 92vw;
        height: auto;
    }

    .admin-div {
        display: flex;
        flex-direction: column;
    }

    .frame-div {
        width: 100%;
        height: auto;
        position: sticky;
        top: 0;
    }
}

/* Small mobile devices */
@media screen and (max-width: 480px) {
}

/* Landscape mobile styles */
@media screen and (orientation: landscape) and (max-height: 600px) {
    img {
        max-width: 40vw;
        height: auto;
    }

    .frame-div {
        width: 50vw;
    }
}

/* Landscape mobile styles */
@media screen and (max-height: 300px) {
    img {
        max-height: 20vh;
        bottom: 3px;
        right: 3px;
    }
}